@model Site.Datos.inv_trans_detalle
@{
    ViewBag.Title = "Create";
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Editar</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-body">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.tde_id)
        @Html.HiddenFor(model => model.tde_trans)

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    Producto
                    @Html.DropDownList("tde_producto", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.tde_producto, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    Ubicacion-Disponible-Costo
                    @Html.DropDownList("tde_ubicacion", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.tde_ubicacion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    Cantidad
                    @Html.EditorFor(model => model.tde_cantidad, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tde_cantidad, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-info">Guardar Cambios</button>
    </div>
}

<script type="text/javascript">

    $(document).ready(function () {


        $('#tde_producto').val('@ViewBag.idProducto');
        $('#tde_ubicacion').val('@ViewBag.idUbicacion');

        //Dropdownlist Selectedchange event
        $("#tde_producto").change(function () {
            $("#tde_ubicacion").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetStock")', // we are calling json method

                dataType: 'json',

                data: { id: $("#tde_producto").val() },
                // here we are get value of selected country and passing same value
                //   as inputto json method GetStates.

                success: function (Data) {
                    // states contains the JSON formatted list
                    // of states passed from the controller

                    $.each(Data, function (i, item) {

                        $("#tde_ubicacion").append('<option value="' + item.sto_id + '">' +
                         item.descripcion + '</option>');
                        // here we are adding option for States

                    });
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });
            return false;
        }).trigger("change");

    });
</script> 