@model Site.Datos.inv_producto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>inv_producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pro_codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_existencia_min)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_existencia_min)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_existencia_max)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_existencia_max)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_fecha_tran)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_fecha_tran)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_usuario_tran)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_usuario_tran)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_eliminado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_eliminado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inv_producto_tipo.pti_descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inv_producto_tipo.pti_descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inv_proveedor.prv_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inv_proveedor.prv_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inv_unidad_medida.uni_descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inv_unidad_medida.uni_descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pro_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
